body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, p, ul{
    color: #000000;
}

figure {
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    padding-top: 3px;
}

/*<figcaption>: The Figure Caption element*/
/*@link: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption*/
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}/*end of figcaption*/

