body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, p, ul{
    color: #000000;
}

/** The Figure with Optional Caption Element
@link: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure **/

figure {
    border: thin whitesmoke solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
}

img {
    max-width: 100%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;

    
}/** END of The Figure with Optional Caption Element */

